body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.umbrella-container {
    position: relative;
}

#umbrella {
    width: 300px;
    height: 300px;
}

#logo {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40px;
    max-height: 20px;
}

.controls {
    text-align: left;
}

.colors {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.color-button[data-color="black"] { background-color: #000; }
.color-button[data-color="grey"] { background-color: #808080; }
.color-button[data-color="navy"] { background-color: #000080; }
.color-button[data-color="pink"] { background-color: #ff69b4; }
.color-button[data-color="blue"] { background-color: #00bfff; }
.color-button[data-color="yellow"] { background-color: #ffd700; }
.color-button[data-color="orange"] { background-color: #ffa500; }
.color-button[data-color="red"] { background-color: #ff4500; }

.upload-section {
    margin-top: 20px;
}

.upload{
    background-color: #00bfff;
    border: none;
    color: white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 100%;
    font-size: 14px;
}

#logo-upload,#logo-upload-input{
    color: white;
    height: 16px;
    width: 16px;
    margin-left: -66px;
}